body{
    font-family: Microsoft JhengHei;
}
.one{
    text-align: center;
/*    margin: 200px 200px;*/
    font-size: 20px; 
    background-color: bisque;
    background-position: center center;
    border-color: darkred;
    border-style: double;
    border-width:7px;
    border-radius:3vh;
    width: 300px;
    float: inherit;
    
}
.ps{
    text-align: center;
    font-size: 13px; 
}
